@font-face {
  font-family: "Guerilla";
  font-style: normal;
  src: url("../fonts/guerilla/GUERRILLA-Normal.ttf") format("truetype");
}
@font-face {
  font-family: "Cambria";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/cambria/Cambria.ttf") format("truetype");
}
@font-face {
  font-family: "Cambria";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/cambria/cambriab.ttf") format("truetype");
}
@font-face {
  font-family: "Gobold";
  font-style: normal;
  src: url("../fonts/gobold/10091.otf") format("opentype");
}
@font-face {
  font-family: "Besom";
  font-style: normal;
  src: url("../fonts/besom/Besom.ttf") format("truetype");
}